@page "/"

<PageTitle>Index</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <!-- mx-auto centers the column horizontally -->
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Welcome</h5>                   
                </div>
            </div>
        </div>
    </div>
</div>
